<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hell</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<form action="calculated" method="post">
  <h1>Input data for this:</h1>
  <img src="function.jpg">
  <h2>Left Border:</h2>
  <input type="text" name="leftBorder">
  <h2>Right Border:</h2>
  <input type="text" name="rightBorder">
  <h2>Step:</h2>
  <input type="text" name="step">
  <input type="submit" value="Calculate">
</form>
</body>
</html>